// GitLab Corners: https://gitlab-corners.bryce.io/
// Theme: Rainbow with grey background

$cls-r: #dd1f26 #f36e38 #ff8016 #009147 #2e358e #672f8f;
$bg: #eee;

.gitlab-corner {
  &-wrapper {
    overflow: hidden;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
  }

  position: absolute;
  top: -16px;
  right: -50px;
  transform: rotate(45deg);
  background: $bg;
  border: $bg solid 44px;
  border-bottom: none;
  border-top: $bg solid 16px;

  svg {
    width: 60px;
    height: 60px;
    margin-bottom: -4px;
  }

  &:hover {
    @for $i from 1 through 6 {
      .cls-r-#{$i} {
        animation: rC#{$i} .6s;
      }
    }
  }
}

@for $i from 1 through 6 {
  $color: nth($cls-r, $i);
  .cls-r-#{$i} {
    fill: $color;
  }
}

$frames: 15% 30% 45% 60% 75% 90% 100%;

@for $i from 1 through 6 {
  @keyframes rC#{$i} {
    @for $j from 1 through 7 {
      $frame: nth($frames, $j);
      $color: nth($cls-r, (($i + $j - 2) % 6) + 1);
      #{$frame} {
        fill: $color;
      }
    }
  }
}
