// Sticky Footer Styles
html {
  position: relative;
  min-height: 100%;
}
body {
  // Margin bottom by footer height
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // Set the fixed height of the footer here
  height: 60px;
  background-color: #F5F5F5;
}

// Custom Page CSS
.container {
  width: auto;
  max-width: 750px;
  padding: 0 15px;

  .text-muted {
    margin: 20px 0;
  }
}
